[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "shoppingwords"]
	path = shoppingwords
	url = https://github.com/bkanx/shoppingwords
